h4{
    border: 2px solid #A7767C;
    /*↓コンテンツに合わせて箱の幅を合わせる*/
    width: fit-content;
}
.basic{
    padding: 20%;
    background-color: #F8D6D4;
}

.work{
    padding: 20px;
    background-color: #F8D6D4;
}

.more{
    padding: 20%;
    background-color: #F8D6D4;
}