h4{
    border: 2px solid #A7767C;
    /*↓コンテンツに合わせて箱の幅を合わせる*/
    width: fit-content;
}
/*全体の文字色を変えたい（できてない）*/
.body{
    color: #48414D;
    margin-left: 20%;
    margin-right: 20%;
}
/*リンクの色を文字色と一緒にしたい（できてない）*/
a link{
    color:#48414D;
}
/*リンククリックした後の色を変えたい（できてない）*/
a :visited{
    color:bisque;
}
/*全体的に真ん中に寄せたい*/
/*箱の左右を適当な位置で折り返したい*/
/*margin:箱の外側　padding：箱の内側*/
.basic {
    background-color: #F8D6D4;
    margin-left: 30%;
    margin-right: 30%;
    border: 1px dashed #A7767C
    padding: 30%;
}

.work {
    background-color: #F8D6D4;
    margin-right: 30%;
    margin-left:30%;
    padding: 30px;

}

.more {
    background-color: #F8D6D4;
    margin-right: 30%;
    margin-left: 30%;
    padding: 30%;

}