h4{
    border: 2px solid #A7767C;
    /*↓コンテンツに合わせて箱の幅を合わせる*/
    width: fit-content;
}
/*全体の文字色を変えたい*/
.body{
    color: #48414D;
}
/*リンクの色を文字色と一緒にしたい*/
a link{
    color:#48414D;
}
/*リンククリックした後の色を変えたい*/
a :visited{
    color:bisque;
}
/*全体的に真ん中に寄せたい*/
/*箱の左右を適当な位置で折り返したい*/
.basic p{
    background-color: #F8D6D4;
    margin-left: auto;
    margin-right: auto;
    padding: 10%;
}

.work p{
    background-color: #F8D6D4;
    margin-right: auto;
    margin-left:auto;
    padding: 20px;

}

.more p{
    background-color: #F8D6D4;
    margin-right: auto;
    margin-left:auto;
    padding: 50px;

}